/* Closest typeface I could find that resembles the original was Luzaine Light Italic. */
body {
  padding: 0;
  margin: 0 auto;
  font-family: Arial;
  font-style: italic;
  overflow: hidden;
  text-transform: uppercase;
  background-image: url(http://i.imgur.com/DLTWUsM.jpg);
  background-size: cover;
}

nav {
  width: 80%;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  width: 100%;
}
ul li {
  position: relative;
  display: block;
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0 12%;
  height: 100vh;
  width: 1%;
  background: red;
  color: white;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
ul li:hover {
  width: 20%;
  margin: 0 2.5%;
}
ul li:hover span {
  right: 0;
  font-size: 1.8em;
}
ul li:hover ul {
  opacity: 1;
}
ul li:hover .ripple {
  -webkit-transform: scaleX(0.2);
          transform: scaleX(0.2);
  -webkit-animation-name: rippleHover;
          animation-name: rippleHover;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
ul li span {
  font-size: 1.2em;
  position: absolute;
  bottom: 20%;
  width: 100%;
  text-align: center;
  right: 30px;
  text-shadow: 1px 1px #555;
  font-weight: lighter;
  -webkit-transition: all 1ms ease-in-out;
  transition: all 1ms ease-in-out;
}
ul li ul {
  position: absolute;
  bottom: 30%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
ul li ul li {
  float: none;
  margin: 0;
  height: auto;
  width: auto;
  padding: 10px;
  font-size: 0.9em;
  font-weight: bold;
  text-shadow: 1px 1px #666;
}
ul li ul li:hover {
  width: auto;
  margin: 0;
  background: white;
  color: black;
}

.ripple {
  z-index: -1;
  background: red;
  display: inline-block;
  height: 100%;
  width: 10px;
  left: 0%;
  position: absolute;
  -webkit-animation-name: ripple;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;
}

@-webkit-keyframes ripple {
  0% {
    left: 0;
    width: 105%;
  }
  10% {
    left: -10%;
    width: 110%;
  }
  20% {
    left: 0;
    width: 130%;
  }
  30% {
    left: -30%;
    width: 140%;
  }
  40% {
    left: 0%;
    width: 130%;
  }
  50% {
    left: -45%;
    width: 120%;
  }
  60% {
    left: 0;
    width: 100%;
  }
  70% {
    left: -50%;
    width: 100%;
  }
  80% {
    left: 0;
    width: 120%;
  }
  100% {
    left: 0;
    width: 105%;
  }
}
@-webkit-keyframes rippleHover {
  0% {
    left: 0%;
    width: 105%;
  }
  10% {
    left: 0%;
    width: 175%;
  }
  20% {
    left: 0%;
    width: 170%;
  }
  30% {
    left: -43%;
    width: 105%;
  }
  40% {
    left: -47%;
    width: 105%;
  }
  50% {
    left: -47%;
    width: 105%;
  }
  60% {
    left: -41%;
    width: 100%;
  }
  70% {
    left: -0%;
    width: 105%;
  }
  80% {
    left: 0%;
    width: 170%;
  }
  100% {
    left: 0%;
    width: 105%;
  }
}
