.header {
  text-align:center;
}

.row {
  margin-bottom:2px;
  text-align:center;
}

.col-md-6 {
  padding-left:25px;
  padding-right:25px;  
} 

.col-xs-4, .col-xs-3, .col-xs-6 {
  padding-left:1px;
  padding-right:1px;
}

/* Research Bars */
.progress {
  width: 100%;
  height: 38px;
}
.progress-wrap-hostel {
  background: #df6e1e;
  margin: 0px 0;
  overflow: hidden;
  position: relative;
}
.progress-bar-hostel {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
  border-radius:0;
}

.researchingComment {
  line-height:38px;
  color:black;
}

.info {
  overflow:hidden;
  max-height:200px;
}

.info p {
  text-align:left;
}

.well {
  padding-top:0;
}