.container
  h1 Infinite Runner with P2 Physics
  #game
    img(id="gameCover" src="https://dl.dropbox.com/s/ows7t9i4k4f5h22/runnerBackground.png?dl=1" width="500" height = "290")
  #controls
    P arrow up to jump, left and right to slow down/speed up.
    
#fi.hide(style="display:block; text-align:center; position:fixed; bottom:15px; right:15px; width:280px; font-family:'Lato', arial, helvetica; background:rgba(0,0,0,0.7); color:white; padding:8px 15px;" )
    